In [40]:
import pandas as pd
import numpy as np
from lcfunctions import lasair_clean, load_lasair_lc
from featureextractor import FeatureExtractor
from metadatafeatures import gaiadr3append
from raw_processing import label_schemes
from outlier import outlier_thresholds_skewed, apply_thresholds
import warnings
warnings.filterwarnings("ignore")

### Load examples and labels

In [41]:
# Load dataset
cvs_df = pd.read_csv('../processed_data/AAVSOCVsZTFxmatch_21032023_BTS_manual_labelled.csv')

# Process the dataframe
dataset = label_schemes(cvs_df)
dataset

,oid_ztf,oid_aavso,type_aavso,ra,dec,Eclipsing,CV_Types,CV_subtypes,CV_subsubtypes,eclipse_clear,manual_label,Clarity,labels_1,labels_2,labels_3,labels_4
0,ZTF18abryuah,ASASSN-19dp,AM,35.745917,43.653639,0,polar,NaN,NaN,0.0,AM_Her,1.0,polar,polar,polar,magnetic
1,ZTF18abtrvgp,BMAM-V789,AM,38.492292,41.623972,0,polar,NaN,NaN,0.0,AM_Her,1.0,polar,polar,polar,magnetic
2,ZTF17aaaehby,CSS 091026:002637+242916,AM,6.654417,24.487694,0,polar,NaN,NaN,0.0,AM_Her,1.0,polar,polar,polar,magnetic
3,ZTF18abgjgiq,MGAB-V3453,AM,8.972375,43.561528,0,polar,NaN,NaN,0.0,AM_Her,1.0,polar,polar,polar,magnetic
4,ZTF18abumlux,MGAB-V3769,AM,353.638167,40.430611,0,polar,NaN,NaN,0.0,AM_Her,1.0,polar,polar,polar,magnetic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5703,ZTF22aazmooy,NaN,N,10.539250,41.258667,0,nova,NaN,NaN,0.0,nova_decline,1.0,nova_decline,nova,nova,nova
5704,ZTF22abfxmpc,NaN,N,10.625167,41.936806,0,nova,NaN,NaN,0.0,nova,1.0,nova,nova,nova,nova
5705,ZTF22abnrgno,NaN,N,10.941000,41.266278,0,nova,NaN,NaN,0.0,nova,1.0,nova,nova,nova,nova
5706,ZTF22abtltcw,NaN,N,10.357167,40.739806,0,nova,NaN,NaN,0.0,nova_decline,1.0,nova_decline,nova,nova,nova
5707,ZTF23aabvpgb,NaN,N,85.951042,62.978222,0,nova,NaN,NaN,0.0,nova,1.0,nova,nova,nova,nova

### Extract custom features

In [42]:
save = False
date = '2023_03_25'
# List of objects.
lst = dataset.oid_aavso.to_list()

objlist = dataset['oid_ztf'].to_list()[0:0]
feature_df = pd.DataFrame()
for obj in objlist:
    type = dataset[dataset['oid_ztf']==obj]['type_aavso'].iloc[0]
    print(obj, type)

    # Load and process lasair light curve
    lc_test = load_lasair_lc(oid=obj, path=f'../lightcurves_dataset/lasair_{date}')
    lc_appmag_test = lasair_clean(lc_test, limit=25, magerrlim=1)

    # Create a copy of the light curve
    lc = lc_appmag_test.copy()

    # Extract features
    fe = FeatureExtractor(lc=lc)
    feets = fe.extract_feets(outliercap=True)
    custom = fe.extract_custom()
    
    # Conactenate custom features to feets
    features_single = pd.concat([feets, custom], axis=1)

    # Add features to dataframe
    feature_df = feature_df.append(features_single, ignore_index=True)

# Identify columns with zero std
zero_std = feature_df.columns[feature_df.std() == 0]
# Drop columns with zero std
feature_df.drop(zero_std, axis=1, inplace=True)

# Add source data to the dataframe
lc_features_df = pd.concat([dataset, feature_df], axis=1)

if save == True:
    # Save the dataframe
    lc_features_df.to_csv(f'../processed_data/lc_features.csv', index=False)

# Load the dataframe
lc_features_df = pd.read_csv(f'../processed_data/lc_features.csv')

# Change NaN in column 8 to None
lc_features_df.iloc[:,8] = lc_features_df.iloc[:,8].fillna('None')

# Save this dataframe
lc_features_df.to_csv(f'../processed_data/lc_features.csv', index=False)

### Extract Gaia features

In [43]:
gaia_df = gaiadr3append(dataset,'oid_ztf')
# Save dataframe
gaia_df.to_csv(f'../processed_data/gaia_features.csv', index=False)

gaia_df

INFO: Login to gaia TAP server [astroquery.gaia.core]
OK
INFO: Login to gaia data server [astroquery.gaia.core]
OK
500 Error 500:
Can not execute the following SQL:
DROP TABLE user_dmistry.ast_table
Because: ERROR: table "ast_table" does not exist
500 Error 500:
Can not execute the following SQL:
DROP TABLE user_dmistry.xmatch_table
Because: ERROR: table "xmatch_table" does not exist
Sending pytable.
Uploaded table 'ast_table'.
Retrieving table 'user_dmistry.ast_table'
Table 'user_dmistry.ast_table' updated.
INFO: Query finished. [astroquery.utils.tap.core]
Table 'ast_table' deleted.
Removed jobs: '['1684146947116O']'.
INFO: Gaia TAP server logout OK [astroquery.gaia.core]
INFO: Gaia data server logout OK [astroquery.gaia.core]
INFO: Login to gaia TAP server [astroquery.gaia.core]
OK
INFO: Login to gaia data server [astroquery.gaia.core]
OK
500 Error 500:
Can not execute the following SQL:
DROP TABLE user_dmistry.ast_table
Because: ERROR: table "ast_table" does not exist
500 Error 500:
Can not execute the following SQL:
DROP TABLE user_dmistry.xmatch_table
Because: ERROR: table "xmatch_table" does not exist
Sending pytable.
Uploaded table 'ast_table'.
Retrieving table 'user_dmistry.ast_table'
Table 'user_dmistry.ast_table' updated.
INFO: Query finished. [astroquery.utils.tap.core]
Table 'ast_table' deleted.
Removed jobs: '['1684146956425O']'.
INFO: Gaia TAP server logout OK [astroquery.gaia.core]
INFO: Gaia data server logout OK [astroquery.gaia.core]
Number of entries that are duplicated: 401
Number of duplicate entries after removal: 193

,oid_ztf,oid_aavso,type_aavso,ra,dec,Eclipsing,CV_Types,CV_subtypes,CV_subsubtypes,eclipse_clear,...,ebpminrp_gspphot,ebpminrp_gspphot_lower,ebpminrp_gspphot_upper,libname_gspphot,ra_prop,dec_prop,distance,absmag_g,absmag_bp,absmag_rp
0,ZTF17aabpjjg,MGAB-V1107,UG,349.877167,51.838167,0,dwarf_nova,NaN,NaN,NaN,...,NaN,NaN,NaN,,349.877166,51.838167,-12998.128381,NaN,NaN,NaN
1,ZTF19ablnrfz,XM79HT,UG,338.221333,57.001833,0,dwarf_nova,NaN,NaN,NaN,...,NaN,NaN,NaN,,338.221334,57.001833,773.382946,11.259908,11.905914,10.693815
2,ZTF18aabvkix,V1227 Her,UGSU+E,253.496083,20.169556,1,dwarf_nova,dwarf_nova_SU_Uma,NaN,0.0,...,NaN,NaN,NaN,,253.496083,20.169555,768.660740,8.673339,8.824500,8.237304
3,ZTF18aabhjxp,ZTF18aabhjxp,UGZ,89.448833,54.331306,0,dwarf_nova,dwarf_nova_Z_Cam,NaN,0.0,...,0.1436,0.1296,0.1586,MARCS,89.448833,54.331306,2027.469375,4.708795,5.062490,4.114098
4,ZTF19acgftux,ZTF19acgftux,UG,276.885250,86.783306,0,dwarf_nova,NaN,NaN,NaN,...,NaN,NaN,NaN,,276.885260,86.783306,7163.031442,6.186868,6.696504,5.288776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5703,ZTF22aazmooy,NaN,N,10.539250,41.258667,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5704,ZTF22abfxmpc,NaN,N,10.625167,41.936806,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5705,ZTF22abnrgno,NaN,N,10.941000,41.266278,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5706,ZTF22abtltcw,NaN,N,10.357167,40.739806,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5707,ZTF23aabvpgb,NaN,N,85.951042,62.978222,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# Load dataframe
gaia_df = pd.read_csv(f'../processed_data/gaia_features.csv')
feature_cols = gaia_df.columns.tolist()[16:]

gaia_features = gaia_df[feature_cols]
num_cols = gaia_features.select_dtypes(include=['float64']).columns.to_list()
meta_cols = gaia_df.columns.to_list()[0:16]
gaia_df2 = gaia_df[meta_cols + num_cols]

# Remove inf values
gaia_df2 = gaia_df2.replace([np.inf, -np.inf], np.nan)

# Identify columns where the missingness fraction is greater than 80%, and drop them
missing = gaia_df2.iloc[:,16:].columns[gaia_df2.iloc[:,16:].isnull().sum()/gaia_df2.shape[0] > 0.8]
gaia_df2.drop(missing, axis=1, inplace=True)

# Drop some other columns
drop = ['non_single_star','classprob_dsc_combmod_quasar','classprob_dsc_combmod_galaxy',
        'classprob_dsc_combmod_star','phot_bp_rp_excess_factor','phot_bp_n_contaminated_transits',
        'phot_bp_n_blended_transits','phot_rp_n_contaminated_transits','phot_rp_n_blended_transits',
        'phot_proc_mode','matched_transits','new_matched_transits','matched_transits_removed',
        'ipd_gof_harmonic_amplitude','ipd_gof_harmonic_phase','ipd_frac_multi_peak','ipd_frac_odd_win',
        'ruwe','astrometric_matched_transits','visibility_periods_used','astrometric_n_obs_al',
        'astrometric_n_obs_ac','astrometric_n_good_obs_al','astrometric_n_bad_obs_al','astrometric_gof_al',
        'astrometric_chi2_al','astrometric_excess_noise','astrometric_excess_noise_sig',
        'astrometric_params_solved', 'ra_dec_corr','ra_parallax_corr','ra_pmra_corr','ra_pmdec_corr',
        'dec_parallax_corr','dec_pmra_corr','dec_pmdec_corr','parallax_pmra_corr','parallax_pmdec_corr',
        'pmra_pmdec_corr','pmra','pmdec','scan_direction_strength_k1','scan_direction_strength_k2',
        'scan_direction_strength_k3','scan_direction_strength_k4','scan_direction_mean_k1',
        'scan_direction_mean_k2','scan_direction_mean_k3','scan_direction_mean_k4', 'parallax_over_error',
        'phot_g_mean_flux_over_error','phot_bp_mean_flux_over_error','phot_rp_mean_flux_over_error',
        'ra_prop','dec_prop']
gaia_df2.drop(drop, axis=1, inplace=True)

# # # Handle outliers
# outlier_thresholds = outlier_thresholds_skewed(gaia_df2, cols=gaia_df2.columns.to_list()[16:], iqr_threshold=2)
# gaia_df3 = apply_thresholds(gaia_df2, gaia_df2.columns.to_list()[16:], outlier_thresholds)

# Save dataframe
gaia_df2.to_csv(f'../processed_data/gaia_features.csv', index=False)


# # gaia_df2
pd.options.display.max_rows = 10

# gaia_df2.isnull().sum()/gaia_df2.shape[0]
gaia_df2

,oid_ztf,oid_aavso,type_aavso,ra,dec,Eclipsing,CV_Types,CV_subtypes,CV_subsubtypes,eclipse_clear,...,bp_g,g_rp,l,b,ecl_lon,ecl_lat,distance,absmag_g,absmag_bp,absmag_rp
0,ZTF17aabpjjg,MGAB-V1107,UG,349.877167,51.838167,0,dwarf_nova,NaN,NaN,NaN,...,0.303354,0.784819,108.813430,-8.495714,19.309253,49.870134,-12998.128381,NaN,NaN,NaN
1,ZTF19ablnrfz,XM79HT,UG,338.221333,57.001833,0,dwarf_nova,NaN,NaN,NaN,...,0.646006,0.566093,104.897079,-0.937462,16.334651,58.196179,773.382946,11.259908,11.905914,10.693815
2,ZTF18aabvkix,V1227 Her,UGSU+E,253.496083,20.169556,1,dwarf_nova,dwarf_nova_SU_Uma,NaN,0.0,...,0.151161,0.436035,39.693075,34.531856,248.830666,42.403505,768.660740,8.673339,8.824500,8.237304
3,ZTF18aabhjxp,ZTF18aabhjxp,UGZ,89.448833,54.331306,0,dwarf_nova,dwarf_nova_Z_Cam,NaN,0.0,...,0.353695,0.594697,158.792342,14.482409,89.625492,30.892727,2027.469375,4.708795,5.062490,4.114098
4,ZTF19acgftux,ZTF19acgftux,UG,276.885250,86.783306,0,dwarf_nova,NaN,NaN,NaN,...,0.509636,0.898092,119.327396,27.417011,88.886381,69.750758,7163.031442,6.186868,6.696504,5.288776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5703,ZTF22aazmooy,NaN,N,10.539250,41.258667,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5704,ZTF22abfxmpc,NaN,N,10.625167,41.936806,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5705,ZTF22abnrgno,NaN,N,10.941000,41.266278,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5706,ZTF22abtltcw,NaN,N,10.357167,40.739806,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5707,ZTF23aabvpgb,NaN,N,85.951042,62.978222,0,nova,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN